header {
    background-color: #eee;
    position: fixed;
    background-color: #eee;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
}

header {
    border-bottom: 2px solid rgb(7, 81, 146);
    padding: 1.2em 1.4em;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    top: 0;
}

#masterbutton {
    border: none;
    padding: 7px;
    background-color: rgb(7, 81, 146);
    color: white;
    transition: .5s;
    border-radius: 5px;
    margin-top: 5px;
}

#masterbutton:hover{
    background-color: rgb(150, 22, 22);
    cursor: pointer;
}

#masterbutton:active{
    color:rgb(143, 65, 65);
}

label {
    color: #222;
}

#page1 {
    border: none;
    padding: 0;
    margin-left: 2em;
}

#panel31 {
    width: 150%;
}

#panel39 {
    width: 90%;
}

#panel26 {
    width: 110%;
}

.mastercontainer {
    overflow-y: auto;
    margin-top: 110px;
}

.masterform {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.normal {
    width: 50%;
}

.normal input {
    width: 100%;
    height: 1.5em;
}

.anexos {
    margin-left: 4em;
    width: 50%;
}

#tipoNota {
    width: 101.5%;
}

#panel39_column3_anexoEvidencia {
    margin-top: 2em;
}


.paragrafoXML {
    margin-top: 11em;
    position: absolute;
    left: 74%;
}


.botoeslol {
    display: flex;    
    align-items: center;
}

/*
#dataEmissao {
    width: 100%;
}

/*
@media (min-height: 700px) {
    header {
        background-color: #222;
    }
}